apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-hpa-test
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/conexasaude/devops-argo-app-testes.git
    targetRevision: main
    path: hml
  destination:
    server: https://kubernetes.default.svc
    namespace: nginx-hpa-test
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true